<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid collapse navbar-collapse">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/agenda.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Agenda
    </a>

    <div>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 navbar-text">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact/index">Cadastrar contato</a>
        </li>

        <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login/logOut">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
        <% } %>


      </ul>
    </div>
  </div>
</nav>